body {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
    background-color: dimgray;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.calc {
    background-color: cornsilk;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}

#display {
    width: 100px;
    height: 40px;
    font-size: 20px;
    text-align: right;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid coral;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 60px;
}

button {
    height: 60px;
    font-size: 20px;
    background-color: lightgray;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: white;
}